# ==========================================
# Telegram Bot API (Local Server) Configs
# ==========================================

# (Mandatory / Obrigatório)
# Your application ID (obtain from https://my.telegram.org)
# Seu aplicativo ID (obtenha em https://my.telegram.org)
TELEGRAM_API_ID=your_id_here

# (Mandatory / Obrigatório)
# Your application Hash, acts as a password for your api_id
# Seu Hash do aplicativo, atua como uma senha para o seu api_id
TELEGRAM_API_HASH=your_hash_here

# (Optional / Opcional)
# Enables local mode to unlock large file size limits (up to 2GB)
# Habilita o modo local que destrava os limites de arquivos pesados (até 2GB)
TELEGRAM_LOCAL=true

# (Optional / Opcional)
# The port where the local HTTP server will run. Default is 8081.
# A porta onde o servidor local HTTP irá rodar. O padrão é 8081.
# TELEGRAM_HTTP_PORT=8081